#about .w-container div:first-child img{
    height:100%;
    margin-bottom:70px;
}
.cta-line{
    margin:50px 0;
    .button {
        float:none;
        display: block;
        top: -22.5px;
    }
}
